.bus-container{
    width:300px !important;
    border:2px solid gray;
    padding:10px;
}

.seat{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px;
    border-radius: 1px solid gray;
    border:1px solid gray;
}

.selected-seat{
    background-color: green;
    color:white;
}

.booked-seat{
    background-color: gray;
    color:white;
}



